.flex-column {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    padding-top: 10px;
 
    flex-wrap: no-wrap;

    gap: 10px;

    align-items: center;
    max-width: 1000px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;

    justify-content: space-evenly;
    gap: 10px;

    align-items: center;
}