.navbar {
    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-top: 10px;

    background-color: rgba(128, 128, 128, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items: center;
    margin: auto;



    /* border-radius: 5px; */
    /* max-width: 1000px; */

}

/* Right justify search box */
.navbar form:last-child {
    margin-left: auto;
}

.navbar .search-field:last-child {
    margin-left: auto;
}


.nav-item {
    padding: 10px 0px;
    font-family: 'Lato', sans-serif;
}

.nav-item a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color .2s ease-out 100ms;
}

.nav-item a:hover {
    /* background-color: rgb(206, 239, 251); */
    background-color: rgb(203, 201, 201);
}




#active {
    font-weight: bolder;
    background-color: rgba(105, 105, 105, 0.648);
    cursor: pointer;
}


.search-field {
    border: 1px solid rgb(191, 189, 189);
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    padding: 3px 5px;
    /* margin-right: 10px; */
    font-family: 'Lato', sans-serif;
    /* justify-content: right; */
    /* display: none; */
}

.search-field::placeholder {
    color: rgba(188, 188, 188, 0);
    transition: color 0.4s ease-in-out;
}
.search-field:focus::placeholder {
    color: rgb(188, 188, 188);
}

.search-field {
    width: 10%;
    display: block;
    border: none;
    /* background-color: rgb(248, 248, 248); */
    background-color: rgba(248, 248, 248, 0);

    background-image: url('../img/searchicon.png');
    background-repeat: no-repeat;
    background-size: 19px;
    /* back */
    /* background-position: -10px 0px;  */
    /* padding-left: 25px; */

    /* -webkit-transition: width 0.4s ease-in-out; */
    transition: width 0.4s ease-in-out,
        background-color 0.4s ease-in-out,
        border-color 0.4s ease-in-out;
        /* background-image 1.4s ease-in-out; */

    /* text-align: right; */
    margin-right: 10;
    margin-left: auto;
    /* min-width: 10px; */
    /* max-width: 10px; */
}

.search-field:focus {
    background-image: none;
    /* background-color: rgb(223, 246, 255); */
    background-color: rgb(255, 255, 255);
    width: 75%;
    outline: none;
    border-color: #7cb7e7;
    box-shadow: 0 0 15px #7cb7e7;
}

.search-form {
    /* border: none; */
    margin-right: 10px;

}


@media screen and (max-width: 499px) {
    button.search-button {
        display: none;
    }

    div.nav-item a {
        padding: 10px 10px;
    }

    input.search-field {
        max-width: 95px;
    }

    form.search-form {
        margin-right: 5px;
    }

}