.flex-column,
.flex-column-medium,
.flex-column-large,
.flex-column-article {
    display: flex;
    flex-direction: column;
    margin: auto;
/* 
    margin-top: 40px;
    padding-top: 10px;
    margin-bottom: 35px; */

    flex-wrap: no-wrap;

    gap: 10px;

    align-items: center;
    max-width: 1280px;
}

.flex-column-article {
    
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 35px;
    /* gap: 100px; */
}

.column-list {
    margin-top: 0px;
}
/* 
li h4 {
    margin-bottom: 0px;
} */

.list-header {
    margin-bottom: 0px;
    text-align: center;
}

hr {
    width: 100%;
    margin-bottom: 20px;
}
.flex-column-small {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.flex-column-medium {
    max-width: 450px;
    margin: 0px 20px;
}
.flex-column-medium-large {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0px 20px;
}

.header {  
    margin-bottom: 5px;
    margin-top: 5px;
}

.flex-column-large {
    max-width: 1000px;
}

.list-item-header {
    margin-bottom: 0px;
}

.three-column-header,
.spacey-header{
    text-align: center;
    /* background-color: aquamarine; */
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .flex-column-large h3 {
    text-align: left;
} */

.flex-column-medium p {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-column-medium-large p, 
.flex-column-small p 
{
    margin-top: 5px;
}

/* .flex-column-article p {
    margin: 15px;
} */

/* .flex-column-small h3, */
/* .flex-column-medium-large h4  */
.centered
{
    text-align: center;
    /* margin-top: 0px; */
}

.flex-row-two-wide,
.flex-row-two-wide-center-aligned {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;

    justify-content: space-evenly;
    gap: 20px;

    align-items: top;
}

.flex-row-two-wide-center-aligned {
    align-items: center;

}

.flex-row-three-wide {
    max-width: 1000px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}


.image-small {
    max-width: 100%;
    /* min-width: 10%; */
    max-height: 150px;
    border-radius: 10px;
    /* align-self: center; */
    /* align-items: center; */
}

.box-art {
    max-width: 100%;
    max-height: 150px;
}

.image-medium {
    max-width: 100%;
    min-width: 10%;
    max-height: 400px;
    border-radius: 10px;
}

.image-large {
    max-width: 100%;
    min-width: 10%;
    max-height: 600px;
    border-radius: 10px;
}

.caption {
    margin-top: 0px;
}

body {
    background-color: rgb(238, 238, 238);
}