.flex-column,
.flex-column-medium,
.flex-column-large,
.flex-column-article {
    display: flex;
    flex-direction: column;
    margin: auto;

    flex-wrap: no-wrap;
    gap: 10px;

    align-items: center;
    max-width: 1280px;
}

.flex-column-article {
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 35px;
}

.column-list {
    margin-top: 0px;
}

.list-header {
    margin-bottom: 0px;
    text-align: center;
}

.page-hr {
    width: 100%;
    max-width: 1000px;
}

.flex-column-small {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.flex-column-medium {
    max-width: 450px;
    margin: 0px 20px;
}
.flex-column-medium-large {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0px 20px;
}

.header {  
    margin-bottom: 5px;
    margin-top: 5px;
}

.flex-column-large {
    max-width: 1000px;
}

.list-item-header {
    margin-bottom: 0px;
}

.three-column-header,
.spacey-header{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.flex-column-medium p {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-column-medium-large p, 
.flex-column-small p {
    margin-top: 5px;
}

.centered {
    text-align: center;
}

.flex-row-two-wide {
    display: flex;
    flex-direction: row;
    align-items: top;
    /* flex-wrap: no-wrap; */
    flex-wrap: no-wrap;

    justify-content: space-evenly;
    gap: 20px;
}

.flex-row-large-picture-article {
    display: flex;
    flex-direction: row;
    align-items: top;
    /* flex-wrap: no-wrap; */
    flex-wrap: wrap;

    justify-content: space-evenly;
    gap: 20px;
}

.list-row {
    display: flex;
    flex-direction: row;
    align-items: top;
    /* flex-wrap: no-wrap; */
    flex-wrap: no-wrap;

    justify-content: space-evenly;
    gap: 20px;

}

.flex-row-two-wide-center-aligned {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    gap: 20px;

    align-items: top;
}
.flex-row-two-wide-center-aligned-no-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;

    justify-content: center;
    gap: 20px;

    align-items: top;
}

.flex-row-three-wide {
    max-width: 1000px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}


.image-small {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 10px;
}

.straight-corners {
    border-radius: 0;
}

.box-art {
    max-width: 130px;
    object-fit: contain;

}

.image-medium {
    max-width: 100%;
    min-width: 10%;
    max-height: 400px;
    border-radius: 10px;
}

.image-large {
    max-width: 100%;
    min-width: 10%;
    max-height: 600px;
    border-radius: 10px;
}

.caption {
    margin-top: 0px;
}

body {
    background-color: rgb(238, 238, 238);
}