.flex-column-gallery {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    padding-top: 10px;

    margin-bottom: 35px;

    flex-wrap: no-wrap;

    gap: 10px;

    align-items: center;
    max-width: 1400px;
}

.flex-row-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;

    justify-content: space-evenly;
    gap: 10px;
    max-width: 1920px;

    align-items: center;
}

.gallery-img,
.gallery-img-single {
    max-width: 100%;
    min-width: 10%;
    max-height: 500px;
    border-radius: 10px;
    transition:transform 0.25s ease;
}

.gallery-img-single {
    max-height: 400px;
}



.gallery-img:hover{
    cursor: pointer;
}


#shadow-box {
    background:rgba(0, 0, 0, 0.0);
    /* background:rgba(0, 0, 0, 0.604); */

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    pointer-events: none;
    transition: background-color 0.25s ease-in-out;
}


.map-img {
    max-width: 100%;
    min-width: 10%;

    border-radius: 10px;
}