.flex-column-gallery {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    padding-top: 10px;

    margin-bottom: 35px;

    flex-wrap: no-wrap;

    gap: 10px;

    align-items: center;
    max-width: 1400px;
}

.flex-row-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;

    justify-content: flex-start;
    gap: 10px;
    max-width: 1920px;

    align-items: center;
}

.flex-row-gallery-header {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    /* align-items: baseline; */
    align-items: bottom;
    justify-content: space-between;
    width: 100%;
    /* padding: 50px; */

    gap: 50px;

    position: relative;
    bottom: -15px;
}
.gallery-header {

    /* margin-left: 20px; */
    /* margin-right: 10px; */
    margin-bottom: 0px;

    display: flex;
    /* justify-content: baseline; */
    align-items: flex-end;
    
    /* padding-top: 100px; */
    
    /* position: relative;
    bottom: -5px; */
}
.gallery-header-description {
    display: flex;
    align-items: flex-end;

    text-align: right;
    
    margin-bottom: 0px;
    max-width: 500px;

}

.map-header-img {
    max-width: 100%;
    min-width: 10%;
    max-height: 80px;
    border-radius: 10px;
    margin-right: 20px;

    /* position: relative;
    bottom: -5px; */

    border-style: solid;
    border-width: 1px;
    border-color: rgb(215, 215, 215);

    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.121);
    /* box-shadow: 20px 10px grey; */
}

.gallery-divider {
    margin-bottom: 0px;
    margin-top: 0px;
    
    position: relative;
    bottom: -5px;
}


.gallery-img,
.gallery-img-1,
.gallery-img-2 {
    max-width: 100%;
    min-width: 10%;
    max-height: 500px;
    border-radius: 10px;
    transition:transform 0.25s ease;
}
.gallery-img-1 {
    max-height: 400px;
}
.gallery-img-2 {
    max-height: 300px;
}



.gallery-img:hover,
.gallery-img-1:hover,
.gallery-img-2:hover{
    cursor: pointer;
}


#shadow-box {
    background:rgba(0, 0, 0, 0.0);
    /* background:rgba(0, 0, 0, 0.604); */

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    pointer-events: none;
    transition: background-color 0.25s ease-in-out;
}


.map-img {
    max-width: 100%;
    min-width: 10%;

    border-radius: 10px;
}