
.gallery-img {
    max-width: 100%;
    min-width: 10%;
    max-height: 500px;
    border-radius: 10px;
    transition:transform 0.25s ease;

}

.gallery-img:hover{
    cursor: pointer;
}


#shadow-box {
    background:rgba(0, 0, 0, 0.0);
    /* background:rgba(0, 0, 0, 0.604); */

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    pointer-events: none;
    transition: background-color 0.25s ease-in-out;
}


.map-img {
    max-width: 100%;
    min-width: 10%;

    border-radius: 10px;
}